body{
    padding: 0 20px 0 0;
    text-align: center;
    background-color: #7a098b;
}

.container {
   
    margin: 0 auto;
    background-color: #7a098b;
    padding: 15px;
  }

input{
    border-radius: 15px;
    width: 70%;
    padding: 10px;
    border: 1px solid #000000;
   
}

h1,p{
    color:#ffffff;
}


button{
   border-radius: 15px;
   border: 1px solid #000;
}

