    .form-control{
        width: 400px;
        margin-bottom: 10px;
    }


        .div-inputs{
            margin-left: 80px;
        }

        .div-button{    
            margin-left: 160px;
            margin-top: 20px;
            width: 100px;
            margin-left: 76vh;
        }

        .input1{
            margin-left: 150px;
        }

        .block{
            margin-top: 100px;
        }

